<main class="holder">
        <div class="flex-container">
            <div class="download">
                <h2>Download the latest version of FFTRound2</h2>   
                <a href="placeholder">Soy un link a una descarga</a>
            </div>
        </div>
    </main>