<main class="holder">
        <div class="flex-container">
            <div class="howtoplay">
                <h2>What you need to play it</h2>
                <ul>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor sed, ipsum sequi atque vitae corrupti sapiente laboriosam dolorem laudantium aliquam incidunt! Ea, odit. Error beatae ipsam nulla nobis atque distinctio.</li>
                    <br>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus praesentium atque vel ex inventore hic quia mollitia aut exercitationem eaque beatae a laborum debitis odio optio natus obcaecati, ab neque.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquid velit aut ipsa saepe accusamus eaque aspernatur delectus voluptatum ad mollitia nobis quisquam, ea sit nulla modi nisi iste consequuntur.</li>
                    <br>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi omnis sapiente modi ratione accusamus doloribus laudantium qui enim. Illum perspiciatis facere maxime omnis! Quaerat corporis quidem delectus culpa repudiandae omnis!</li>
                </ul>
            </div>
        </div>
    </main>