<main class="holder">
        <div class="homeimg">
              <img src="https://via.placeholder.com/960x150" alt="FFTBanner">  
        </div>
        <div class="columnas">
                <div class="Welcome left">
                    <h2>Welcome</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus aut eligendi corrupti dicta vel? Enim quam eum omnis odit alias provident, quaerat voluptas soluta aperiam numquam minus fugit neque?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error assumenda praesentium doloremque saepe dolore cupiditate vero eum itaque neque consectetur explicabo excepturi ut dignissimos, pariatur rerum! Assumenda natus dicta ea.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cupiditate sint laborum nulla? Sunt eos molestias dolore, iste suscipit voluptate quia, delectus voluptates quaerat saepe cumque. Ut inventore sunt animi!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit aperiam et odio sapiente inventore. In voluptas illum dolores pariatur hic tenetur praesentium debitis harum sapiente! Necessitatibus adipisci perferendis doloribus accusamus?</p>
                </div>
        </div>
    </main>
