<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFTRound2 Mod</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/FFTR2styles.css">
</head>

  <body>

    <header>
        <div class="holder">
            <img src="https://via.placeholder.com/400" width="100" alt="FFTLogo">
            <h1>Final Fantasy Tactics Round Two</h1>
        </div>
    </header>

    <nav>
        <ul class="holder">
            <li><a class="activo" href="/">Home</a></li>
            <li><a href="/aboutthemod">About the Mod</a></li>
            <li><a href="/modfeatures">Mod Features</a></li>
            <li><a href="/howtoplay">How to Play</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>

    </nav>

    {{{body}}}

    <footer>
        <p>Diseñado por Santiago Bustos - &copy; 2021</p>
    </footer>

  </body>
</html>
