<main class="holder">

        <div class="flex-container">
            <div class="Features1">
                <h2>Features1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perferendis ea cupiditate quo. Necessitatibus nihil error quaerat cumque maiores? Nam quia voluptate soluta distinctio suscipit voluptates cumque quos adipisci illo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda ullam ducimus laudantium qui! Tenetur, beatae laboriosam ipsum id unde perspiciatis nihil ullam porro quia iste nesciunt molestiae eos? Rerum.</p>
            </div>
            <div class="ImgF1">
                <img src="https://via.placeholder.com/250" alt="ImageF1">
            </div>
        </div>

        <div class="flex-container">
            <div class="Features2">
                <h2>Features2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur! Cum deleniti aut commodi nisi placeat quam fugiat, distinctio delectus qui, velit eaque natus. Incidunt obcaecati tempore officia excepturi necessitatibus!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum libero iure suscipit. Harum deleniti similique deserunt laborum saepe voluptatibus! Fugiat nemo cum magnam laudantium inventore eos quisquam voluptates eveniet error?
            </div>
            <div class="ImgF2">
                <img src="https://via.placeholder.com/250" alt="ImageF2">
            </div> 
        </div>

        <div class="flex-container">
            <div class="Features3">
                <h2>Features3</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis totam error. Animi, explicabo repudiandae? Beatae nihil et non vero numquam architecto voluptatibus ad odio! Corrupti dolorum quae nulla eum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui voluptates autem harum unde, minus suscipit perspiciatis reprehenderit, animi beatae laborum corporis magnam cupiditate quod! Cupiditate odio voluptatibus expedita consectetur.</p>
            </div>
            <div class="ImgF3">
                <img src="https://via.placeholder.com/250" alt="ImageF3">
            </div> 
        </div>

        <div class="flex-container">
            <div class="Features4">
                <h2>Features4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis numquam necessitatibus rem labore exercitationem culpa fugit voluptates iusto, id atque nam mollitia aperiam itaque omnis maiores consectetur tenetur commodi!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nesciunt culpa adipisci, eum odio quas nostrum corrupti assumenda maxime, nulla amet enim et aspernatur perferendis labore sequi perspiciatis vero ex!</p>
            </div>  
            <div class="ImgF4">
                <img src="https://via.placeholder.com/250" alt="ImageF4">
            </div> 
        </div>
        
    </main>