.contenedor{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
}
.item:first-child{
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: red;
}
.item:nth-child(2){
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: blue;
}
.item:last-child{
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: green;
}